.home {
    ion-card {
    margin-bottom: 2em;
  }

  ion-card-content {
    background-color: #F4F5F8;
  }

  ion-card img {
    width: auto;
    height: 44px;
    display: block;
    margin: 20px auto;
  }
}

  .avatar {
    border-radius:100%;
    width: 35px;
    height: auto;
    display: block;
  }

.error-message {
    p {
      font-size: 0.8em;
      color: #ea6153;
    }
}