<ion-header>
  <ion-navbar>
    <button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>
      {{'title' | translate}}
    </ion-title>
    <ion-buttons end>
      <button *ngIf="!user.email" (click)="login()">
      {{'login' | translate}}
    </button>
      <button *ngIf="user.email" (click)="logout()">
      <img src="{{user.photoURL}}" class="avatar" />
    </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  
  <ion-item>
    <ion-label stacked>Message</ion-label>
   <ion-textarea rows="6" placeholder="enter long description here..." value="{{user | json}}"></ion-textarea>
 </ion-item>

  <ion-list>
    <ion-list-header>
      List Header
    </ion-list-header>
    <ion-item *ngFor="let todo of todos">
      {{todo.name}}
    </ion-item>
  </ion-list>

    <form [formGroup]="registerForm">
      <ion-item>
        <ion-label floating>Fisrt name</ion-label>
        <ion-input type="text" formControlName="fname"></ion-input>        
      </ion-item>
      <ion-item class="error-message" *ngIf="!registerForm.controls.fname.valid">
        <p>Name is required (minimum 5 characters).</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Last name</ion-label>
        <ion-input type="text" formControlName="lname"></ion-input>
      </ion-item>
      <div formGroupName="adress">
        <ion-item>
          <ion-label floating>Street</ion-label>
          <ion-input type="text" formControlName="street"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Zip code</ion-label>
          <ion-input type="number" formControlName="zip"></ion-input>
        </ion-item>
      </div>
      <ion-item>
        <button full type="submit">Submit</button>
      </ion-item>

    </form>
  <div>
    {{ registerForm.value | json }}
  </div>
</ion-content>